.button {
  -fx-background-color: '#F1F1F1';
  -fx-transition: 600ms;
  -fx-background-radius: 0;
}
.button:hover {
  -fx-background-color: '#2483FF';
  -fx-cursor: hand;
  -fx-text-fill: '#FFFFFF';
}
.button:pressed {
  -fx-background-color: '#1D68CB';
}
.white-button {
  -fx-background-color: '#F1F1F1';
  -fx-transition: 600ms;
  -fx-background-radius: 0;
  -fx-background-color: '#FFFFFF';
  -fx-padding: 10;
}
.white-button:hover {
  -fx-background-color: '#2483FF';
  -fx-cursor: hand;
  -fx-text-fill: '#FFFFFF';
}
.white-button:pressed {
  -fx-background-color: '#1D68CB';
}
.toggle-button {
  -fx-background-color: '#F1F1F1';
  -fx-transition: 600ms;
  -fx-background-radius: 0;
  -fx-background-color: '#FFFFFF';
  -fx-padding: 10;
}
.toggle-button:hover {
  -fx-background-color: '#2483FF';
  -fx-cursor: hand;
  -fx-text-fill: '#FFFFFF';
}
.toggle-button:pressed {
  -fx-background-color: '#1D68CB';
}
.toggle-button:hover {
  -fx-background-color: '#F1F1F1';
  -fx-text-fill: '#000000';
}
.toggle-button:selected {
  -fx-background-color: '#2483FF';
  -fx-cursor: hand;
  -fx-text-fill: '#FFFFFF';
}
.label-button {
  -fx-background-color: '#F1F1F1';
  -fx-transition: 600ms;
  -fx-background-radius: 0;
  -fx-background-color: '#FFFFFF';
  -fx-padding: 10;
  -fx-padding: 5;
  -fx-border-width: 1;
  -fx-border-color: '#F1F1F1';
}
.label-button:hover {
  -fx-background-color: '#2483FF';
  -fx-cursor: hand;
  -fx-text-fill: '#FFFFFF';
}
.label-button:pressed {
  -fx-background-color: '#1D68CB';
}
.label-button:active {
  -fx-background-color: '#DCDADA';
}
.header {
  -fx-background-color: '#F1F1F1';
}
.label {
  -fx-background-color: '#FFFFFF';
  -fx-padding: 10;
}
.white-label {
  -fx-background-color: '#FFFFFF';
  -fx-padding: 10;
  -fx-padding: 5;
  -fx-border-width: 1;
  -fx-border-color: '#F1F1F1';
}
.white-label:active {
  -fx-background-color: '#DCDADA';
}
.disabled-label {
  -fx-background-color: '#FFFFFF';
  -fx-padding: 10;
  -fx-background-color: '#F1F1F1';
}
.root {
  -fx-background-color: #34f0e6;
}
